.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 10px;
}
.container h1{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.boxCard{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    align-self: flex-end;
}

.navContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 22px;
    margin-bottom: 40px;
}
.navContainer > span{
    margin: 0 10px;
}
.separator{
    border: 1px solid black;
    width: 15%;
}
.page{
    font-weight: bold;
    cursor: pointer;
}

.boxCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.boxProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media only screen and (max-width:900px){
    .main{
        flex-direction: column-reverse;
    }
}