
main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 100px 0 0 100px;
}

.filter{
    flex: 10%;
    max-width: 90%
}
.filter > h3{
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0;
}

.filter h4{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

.box{
    flex: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.boxProducts{
    display: flex;
    flex-wrap: wrap;
}

.product{
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
}