.horizontal-product{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0 0 20px;
}
.horizontal-product__image{
    width: 200px;
    border: solid 1px #003049;
}

.horizontal-product__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}

.horizontal-product__info__quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.horizontal-product__info__price{
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}

.horizontal-product__remove{
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
}
.horizontal-product__remove:hover{
    text-decoration: underline;
}