@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.container{
    display: flex;
    align-items: flex-start;
    justify-content: flex;
    flex-direction: column;
    padding-top: 10px;
}
.menu {
    background-color: #003049;
}
.menuItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    text-decoration: none;
}

.menuItem:visited {
    color: #fdfcf6;
    text-decoration: none;
}

.menuItem > span {
    font-size: large;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
    color: #fdfcf6;
}

.menuItem > span:first-of-type {
    margin-right: 5px;
}

.menuItem.clickable:hover{
    font-weight: bold;
}

.menuItem > .icon {
    font-size: x-large;
}


.divider {
    display: block;
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.burgerButton > button{
    width: 10% !important;
    height: 20% !important;
}